# Command template for SPARK+MATLAB
# 
# Configure this file according to your system,
# you just need to specify how you normally execute MATLAB
#
# WARNINGS:
# - Use Bash syntax
# - Do not add a new line after the last command ('matlab')
# - Do not chain any command to the last one ('matlab')
# - Make sure you have MINC toolkit

eval `/usr/bin/modulecmd bash load minc-toolkit/1.9.15`
eval `/usr/bin/modulecmd bash load matlab/R2016b`
matlab